                service.{{operationId}}({{#hasParams}}{{#allParams}}{{paramName}}, {{/allParams}}{{/hasParams}}{{#hasAuthMethods}}user, {{/hasAuthMethods}}result -> {
                    if (result.succeeded()){
                {{#returnType}}
                        DeliveryOptions deliveryOptions = new DeliveryOptions().addHeader("Content-Type", "application/json");
                    {{#isListContainer}}
                        message.reply(new JsonArray(Json.encode(result.result())).encodePrettily(), deliveryOptions);
                    {{/isListContainer}}
                    {{^isListContainer}}
                        message.reply(new JsonObject(Json.encode(result.result())).encodePrettily(), deliveryOptions);
                    {{/isListContainer}}
                {{/returnType}}
                {{^returnType}}
                        message.reply(null);
                {{/returnType}}
                    }else {
                        Throwable cause = result.cause();
                        manageError(message, cause, {{#vendorExtensions}}{{x-serviceId-varName}}{{/vendorExtensions}});
                    }
                });