Project generated on : {{generatedDate}}

# Run Project From Commadline

When you completed the code generation , you will find a script file called 'run-with-config.sh' that it will help you to run vertx project from commandline.
Before to run it on shell, you should change permission of the script with following command.


```bash
chmod +x run-with-config.sh
```

# Docker Support

Also, The script allows you to run the project in docker container. You should pass -d or --docker param with script file. The prerequisite to run docker is having a docker installation.
[click to access docker installation guide](https://docs.docker.com/engine/installation).


```bash
chmod +x run-with-config.sh --docker
```
