                service.{{operationId}}({{#hasParams}}{{#allParams}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}}{{/hasParams}}{{#hasAuthMethods}}{{#hasParams}}, {{/hasParams}}io.vertx.rxjava.ext.auth.User.newInstance(user){{/hasAuthMethods}}).subscribe(
                    result -> {
                        DeliveryOptions deliveryOptions = new DeliveryOptions();
                        deliveryOptions.setHeaders(result.getHeaders());
                    {{#isListContainer}}
                        message.reply(new JsonArray(Json.encode(result.getResponse())).encodePrettily(), deliveryOptions);
                    {{/isListContainer}}
                    {{^isListContainer}}
                        message.reply(new JsonObject(Json.encode(result)).encodePrettily(), deliveryOptions);
                    {{/isListContainer}}
                    },
                    error -> {
                        manageError(message, error, {{#vendorExtensions}}{{x-serviceId-varName}}{{/vendorExtensions}});
                    });