                service.{{operationId}}({{#hasParams}}{{#allParams}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}}{{/hasParams}}{{#hasAuthMethods}}{{#hasParams}}, {{/hasParams}}io.vertx.rxjava.ext.auth.User.newInstance(user){{/hasAuthMethods}}).subscribe(
                    result -> {
                        DeliveryOptions deliveryOptions = new DeliveryOptions();
                        deliveryOptions.setHeaders(result.getHeaders());
                {{#returnType}}
                    {{#isListContainer}}
                        message.reply(new JsonArray(Json.encode(result.getResponse())).encodePrettily(), deliveryOptions);
                    {{/isListContainer}}
                    {{^isListContainer}}
                        {{#returnTypeIsPrimitive}}
                        message.reply(result.getResponse(), deliveryOptions);
                        {{/returnTypeIsPrimitive}}
                        {{^returnTypeIsPrimitive}}
                        message.reply(new JsonObject(Json.encode(result.getResponse())).encodePrettily(), deliveryOptions);
                        {{/returnTypeIsPrimitive}}
                    {{/isListContainer}}
                {{/returnType}}
                {{^returnType}}
                        message.reply(null, deliveryOptions);
                {{/returnType}}
                    },
                    error -> {
                        manageError(message, error, {{#vendorExtensions}}{{x-serviceId-varName}}{{/vendorExtensions}});
                    });