    public Single<ResourceResponse<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}Void{{/returnType}}>> {{operationId}}({{#allParams}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}}{{#hasAuthMethods}}{{#hasParams}}, {{/hasParams}}User user{{/hasAuthMethods}}){
        throw new java.lang.UnsupportedOperationException("Not implemented, yet") ;
    };